.git
.idea
.vscode
.env
.env.example
node_modules
vendor
public/build
public/storage
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
docker-compose.yml
docker-compose.prod.yml
Dockerfile
README.md
tests
phpunit.xml
.editorconfig
.gitattributes
.gitignore
_ide_helper.php
